body {
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #3E246B;
}

h2 {
    color: #6660E3;
}

img {
    width: 200px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}